footer{
   
    background-color: var(--principal-color);
    display: flex;
    align-items: center;

   

    position: relative;

    height: 238px;
    width: 100%;
}

footer a{
    margin: auto;
}

footer .footer-mobile {
    margin: auto;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
footer .footer-mobile img{
    margin: auto;
}


footer button{
   
    margin-top: 3rem;

    padding: .4rem;
    border-radius: 0 .8rem .2rem .8rem;
    background-color: var(--principal-color);
    color: white;
    font-family: var(--title-font);
    cursor: pointer;

    transition: background .4s;
}

footer button:hover{
    background-color: var(--principal-hover);
}



@media(max-width: 900px){

    footer a button{
       display: none;
    }

    footer #footer-mobile img{
        display: flex;

        margin: auto;
    }

    footer #logo img{
       display: none;
    }

    footer a{
        display: none;
    }
   
}